@CHARSET "UTF-8";

/* INICIO dos estilos para fixar o rodape */
html, body, #wrap {height: 100%;}
 
body > #wrap {height: auto; min-height: 100%;}
 
#main {overflow:auto;
	padding-bottom: 60px;}  /* deve ter a mesma altura do rodapé */
 
#footer {
	position: relative;
	margin-top: -74px; /* valor negativo da altura do rodapé */
	height: 74px;
	clear:both;}
 
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/* FIM dos estilos para fixar o rodape */

body {
	background: url("../image/texturaCinza.jpg");
}

#rodape {
	width: 100%;
	height: 90px; 
	background-color: #696969; 
	vertical-align: middle;"
}

.cardFlag {
	width: 700px; 
	text-align: left; 
	padding: 30px;
	border: 4px solid #000000;  
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
/* 	box-shadow: 2px 2px 2px #CCCCCC; */
	background-color: #FFFFFF;	
}

img {
	box-shadow: 2px 2px 2px #8B8484;
}

table#tabFlags p {
	font-size: medium;
	font-weight: normal;
	color: #363636;
}

.zebrado:hover {
	background-color: #dddddd;
}

table#tabFlags tr td {
	padding: 10px;
}

.colapsed {
	border-collapse: collapse;
}

.textoRodape {
	color: #ffffff; font-weight: bold; padding-top: 20px; text-shadow: black 0.1em 0.1em 0.2em;
}

.textoCabecalho {
	color: #ffffff; font-weight: bold; padding-top: 20px; font-size: xx-large; text-shadow: black 0.1em 0.1em 0.2em;
}

#divCabecalho {
	width: 100%;
	height: 100px;
	background-color: #cccccc;
	padding: 0;
}

