@CHARSET "UTF-8";

/* INICIO dos estilos para fixar o rodape */
html, body, #wrap {
	height: 100%;
	margin: 0 auto 0 auto;
}
 
body > #wrap {
	height: auto;
	min-height: 100%;	
}
 
#main {overflow:auto;
	padding-bottom: 60px;}  /* deve ter a mesma altura do rodapé */
 
#footer {
	position: relative;
	margin-top: -74px; /* valor negativo da altura do rodapé */
	height: 74px;
	clear:both;}
 
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/* FIM dos estilos para fixar o rodape */

/* body {
	background: url("../image/texturaCinza.jpg");
} */

.fundoIndex {
	background: url("../image/texturaCinza.jpg");
}

a {
	text-decoration: none;	
}

.texturaHeader {
	background: url("../image/texturaCinzaCabecalho.jpg");
}

.corPreta {
	color: #000000;
}

#linkein {
	color: #000000;
}

#linkein:hover{
	text-decoration: none;
	color: blue;
}

.introFotoTopo {
	background: url("../image/imagemIntro_topo.png");
	background-repeat: no-repeat;
}

.introFotoBase {
	background: url("../image/imagemIntro_base.png");
	background-repeat: no-repeat;
}

.linkDefault {
	color: #4682B4;
}
.linkDefault:hover {
	color: #4682B4;
	font-style: italic;
}

.labelFonteImagem{
	font-size: small;
	padding: 5px;
	color: #4682B4;
}

.siteFonte{
	font-size: small;	
}

#rodape {
	width: 100%;
	height: 90px; 
	background-color: #696969; 
	vertical-align: middle;"
}

#styleHeaderFooter {
	width: 100%;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	/* background: url("../image/texturaCinzaCabecalho.jpg"); */
	/* background: #CCCCCC; */
}

.tabPrettyPhoto{
	width: 100%;
	padding: 10px;
	text-align: center;
	border: 1px solid #c8c8c8;
}

.tabPrettyPhoto tr td {
	padding: 5px;
}

#subMenu {
	width: 100%;
	text-align: center;
	font-size: small;
}

#subMenu li {
	list-style: none;
	display: inline;
	width: 50%;
	text-align: center;
	padding: 10px;
}

#subMenu a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}
#subMenu a:hover {
	text-decoration: none;
	color: #000000;
}

#downloadRoteiroExame{
	color: #FF8C00;
	font-size: large;
	font-weight: bold;	
}

.cardFlag {
	width: 700px; 
	text-align: left; 
	padding: 30px;
	border: 1px solid #CCCCCC;  
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #000000;
	background-color: #FFFFFF;	
}

.cardFlagPgs {
	width: 800px; 
	text-align: left; 
	padding: 20px;
	border: 0px solid #CCCCCC;  
	border-radius: 1px 1px 1px 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
/* 	box-shadow: 2px 2px 2px #CCCCCC; */
	background-color: #FFFFFF;	
}

.imgSombra {
	box-shadow: 2px 2px 2px #8B8484;
}

.iconeLogo{
	width: 60px;
	height: 70px;
}

.txtSombra {
	text-shadow: black 0.1em 0.1em 0.2em;
}

table#tabFlags p {
	font-size: medium;
	font-weight: normal;
	color: #363636;	
}

.zebrado:hover {
	background-color: #dddddd;
}

table#tabFlags tr td {
	padding: 10px;
	cursor: pointer;
}

.colapsed {
	border-collapse: collapse;
}

.textoRodape {
	color: #4f4f4f; font-weight: bold; padding-top: 20px; text-shadow: white 0.1em 0.1em 0.2em;
}

.textoCabecalho {
	color: #4f4f4f; font-weight: bold; padding-top: 20px; font-size: xx-large; text-shadow: white 0.1em 0.1em 0.2em;
}

#divCabecalho {
	width: 100%;
	height: 100px;
	background-color: #cccccc;
	padding: 0;
}

.tabQuadroMenu {
	width: 100%;
	padding: 5px;
	border: 0;
}

.imgFundoTab {
	width: 200px;
	height: 300px;
}

.tdFlagLocale{
	align: right;
	vertical-align: middle;
	width: 220px;
	border-left: 1px solid #E8E8E8;
	
	
}

.letraGrande {
	font-size: large; 
	font-weight: bold;
	font-style: italic; 
	color: #4F4F4F; 
	/* text-shadow: #1C1C1C 0.1em 0.1em 0.2em; */
}

.letraMedia{
	font-size: medium; 
	font-weight: bold; 
	color: #4F4F4F; 
	/* text-shadow: #1C1C1C 0.1em 0.1em 0.2em; */
}

.letraNormal {	 
	font-weight: normal; 
	color: #1C1C1C;	
}

.menuTabela {
	height: 30px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	font-size: smaller;
}

.menuTabela:hover{
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;		
}

/* .degradeFooter {
	background: #B5B5B5; Old browsers
	IE9 SVG, needs conditional override of 'filter' to 'none'
	background: -moz-linear-gradient(top, #E8E8E8 0%, #B5B5B5 50%, #B5B5B5 51%, #E8E8E8 100%); FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E8E8E8), color-stop(50%,#B5B5B5), color-stop(51%,#B5B5B5), color-stop(100%,#E8E8E8)); Chrome,Safari4+
	background: -webkit-linear-gradient(top, #E8E8E8 0%,#B5B5B5 50%,#B5B5B5 51%,#E8E8E8 100%); Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, #E8E8E8 0%,#B5B5B5 50%,#B5B5B5 51%,#E8E8E8 100%); Opera 11.10+
	background: -ms-linear-gradient(top, #E8E8E8 0%,#B5B5B5 50%,#B5B5B5 51%,#E8E8E8 100%); IE10+
	background: linear-gradient(to bottom, #E8E8E8 0%,#B5B5B5 50%,#B5B5B5 51%,#E8E8E8 100%); W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E8', endColorstr='#E8E8E8',GradientType=0 ); IE6-8
} */

.degradeHeader {	
	background: #B5B5B5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #B5B5B5 0%,  #E8E8E8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B5B5B5), color-stop(100%,#E8E8E8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #B5B5B5 0%, #E8E8E8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #B5B5B5 0%, #E8E8E8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #B5B5B5 0%, #E8E8E8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #B5B5B5 0%, #E8E8E8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B5B5B5', endColorstr='#E8E8E8',GradientType=0 ); /* IE6-8 */
}

.degradeFooter {	
	background: #B5B5B5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #E8E8E8 0%,  #B5B5B5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E8E8E8), color-stop(100%,#B5B5B5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #E8E8E8 0%, #B5B5B5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #E8E8E8 0%, #B5B5B5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #E8E8E8 0%, #B5B5B5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #E8E8E8 0%, #B5B5B5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E8', endColorstr='#B5B5B5',GradientType=0 ); /* IE6-8 */
}

.degradeVerde {	
	background: #00FF00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #00FF00 0%,  #008B00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00FF00), color-stop(100%,#008B00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00FF00 0%, #008B00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00FF00 0%, #008B00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00FF00 0%, #008B00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00FF00 0%, #008B00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FF00', endColorstr='#008B00',GradientType=0 ); /* IE6-8 */
}

.degradeBodyVerde {	
	background: #FFFFFF; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFFFFF 0%,  #008B00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#008B00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #008B00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 0%, #008B00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%, #008B00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFFFF 0%, #008B00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#008B00',GradientType=0 ); /* IE6-8 */
}	
	
	
.degradeAmarelo {	
	background: #FFFF00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFFF00 0%,  #FFD700 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFF00), color-stop(100%,#FFD700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFF00 0%, #FFD700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFF00 0%, #FFD700 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFF00 0%, #FFD700 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFF00 0%, #FFD700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFF00', endColorstr='#FFD700',GradientType=0 ); /* IE6-8 */
}	
	
.degradeLaranja {	
	background: #FFC125; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFC125 0%,  #CD950C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFC125), color-stop(100%,#CD950C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFC125 0%, #CD950C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFC125 0%, #CD950C 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFC125 0%, #CD950C 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFC125 0%, #CD950C 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC125', endColorstr='#CD950C',GradientType=0 ); /* IE6-8 */
}	
	
.degradePele {	
	background: #EE9A49; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #EE9A49 0%,  #EE7621 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EE9A49), color-stop(100%,#EE7621)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #EE9A49 0%, #EE7621 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #EE9A49 0%, #EE7621 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #EE9A49 0%, #EE7621 100%); /* IE10+ */
	background: linear-gradient(to bottom, #EE9A49 0%, #EE7621 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EE9A49', endColorstr='#EE7621',GradientType=0 ); /* IE6-8 */
}

.degradeAzul {	
	background: #7db9e8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #7db9e8 0%,  #1E5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1E5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7db9e8 0%, #1E5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1E5799',GradientType=0 ); /* IE6-8 */
}

.degradeVermelha {	
	background: #FF0000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FF0000 0%,  #A52A2A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0000), color-stop(100%,#A52A2A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FF0000 0%, #A52A2A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#A52A2A',GradientType=0 ); /* IE6-8 */
}	

.setDefault {
	width: 90%;
	color: #FFFFFF;
	text-shadow: #DDDDDD 0.1em 0.1em 0.2em;
	text-align: center;
	cursor: pointer;
	padding: 20px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.destacar:hover {
	box-shadow: 2px 2px 2px #8B8484;
}

.iconeMenu {
	cursor: pointer;
	width: 70px;
	height: 70px;	
}

.iconeLocale {
	width: 30px;
	height: 20px;
	border: 1px solid #000000;
}

.iconeMenu:hover{	
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;	
}

.opacidade {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.quadroMenu{
	width: 100%;
	background-color: #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #8B8484;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;		
}

.msgBorder {
	border-style: solid;
	border-width: 2px;
	display: block;
	font-family: Arial, helvetica, sans-serif;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 2px 2px 0;
	padding: 15px;
	text-align: justify;
	vertical-align: middle;
	width: 100%;	
}

.msgVariacaoAnatomica {
	background-color: #5D980D;
	border-color: #5D980D;
	text-align: left;
	color: #ffffff;
	font-size: large;
}

.msgLesaoComum {
	background-color: #FFFF00;
	border-color: #FFFF00;
	text-align: left;
	color: #ffffff;
	font-size: large;
}

#tabExame tr td:hover{
	background-color: #87CEEB;
}

#tabVariacaoAnatomica tr td:hover{
	background-color: #5D980D;
}

#tabLesaoComum tr td:hover{
	background-color: #FFFF00;
}
