@CHARSET "UTF-8";

/* INICIO dos estilos para fixar o rodape */
html, body, #wrap {height: 100%;}
 
body > #wrap {height: auto; min-height: 100%;}
 
#main {overflow:auto;
	padding-bottom: 60px;}  /* deve ter a mesma altura do rodapé */
 
#footer {
	position: relative;
	margin-top: -74px; /* valor negativo da altura do rodapé */
	height: 74px;
	clear:both;}
 
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/* FIM dos estilos para fixar o rodape */

body {
	background: url("../image/texturaCinza.jpg");
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

.texturaHeader {
	background: url("../image/texturaCinzaCabecalho.jpg");
}

#linkein:hover{
	text-decoration: none;
	color: #CCCCCC;
}

.introFotoTopo {
	background: url("../image/imagemIntro_topo.png");
	background-repeat: no-repeat;
}

.introFotoBase {
	background: url("../image/imagemIntro_base.png");
	background-repeat: no-repeat;
}

#rodape {
	width: 100%;
	height: 90px; 
	background-color: #696969; 
	vertical-align: middle;"
}

.cardFlag {
	width: 700px; 
	text-align: left; 
	padding: 30px;
	border: 4px solid #000000;  
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
/* 	box-shadow: 2px 2px 2px #CCCCCC; */
	background-color: #FFFFFF;	
}

.cardFlagPgs {
	width: 800px; 
	text-align: left; 
	padding: 20px;
	border: 4px solid #000000;  
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
/* 	box-shadow: 2px 2px 2px #CCCCCC; */
	background-color: #FFFFFF;	
}

.imgSombra {
	box-shadow: 2px 2px 2px #8B8484;
}

.txtSombra {
	text-shadow: black 0.1em 0.1em 0.2em;
}

table#tabFlags p {
	font-size: medium;
	font-weight: normal;
	color: #363636;	
}

.zebrado:hover {
	background-color: #dddddd;
}

table#tabFlags tr td {
	padding: 10px;
	cursor: pointer;
}

.colapsed {
	border-collapse: collapse;
}

.textoRodape {
	color: #ffffff; font-weight: bold; padding-top: 20px; text-shadow: black 0.1em 0.1em 0.2em;
}

.textoCabecalho {
	color: #ffffff; font-weight: bold; padding-top: 20px; font-size: xx-large; text-shadow: black 0.1em 0.1em 0.2em;
}

#divCabecalho {
	width: 100%;
	height: 100px;
	background-color: #cccccc;
	padding: 0;
}

.letraGrande {
	font-size: xx-large; 
	font-weight: bold; 
	color: #4F4F4F; 
	text-shadow: #1C1C1C 0.1em 0.1em 0.2em;
}

.letraMedia{
	font-size: x-large; 
	font-weight: bold; 
	color: #4F4F4F; 
	text-shadow: #1C1C1C 0.1em 0.1em 0.2em;
}

.letraNormal {
	font-size: large; 
	font-weight: normal; 
	color: #1C1C1C;	
}

.degradeAzul {	
	background: #7db9e8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #7db9e8 0%,  #1E5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1E5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7db9e8 0%, #1E5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1E5799',GradientType=0 ); /* IE6-8 */
}

.degradeVermelha {	
	background: #FF0000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FF0000 0%,  #A52A2A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0000), color-stop(100%,#A52A2A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FF0000 0%, #A52A2A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#A52A2A',GradientType=0 ); /* IE6-8 */
}	

.setDefault {
	width: 90%;
	color: #FFFFFF;
	text-shadow: #DDDDDD 0.1em 0.1em 0.2em;
	text-align: center;
	cursor: pointer;
	padding: 20px;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.destacar:hover {
	box-shadow: 2px 2px 2px #8B8484;
}

.iconeMenu {
	cursor: pointer;
	width: 70px;
	height: 70px;	
}

.iconeMenu:hover{
	
filter:alpha(opacity=50);
-moz-opacity: 0.5;
opacity: 0.5;
	
}

.quadroMenu{
	width: 100%;
	background-color: #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #8B8484;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
		
}

