@CHARSET "UTF-8";

@font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url(http://themes.googleusercontent.com/static/fonts/alegreyasc/v3/-74JUGs8W14C5cCBFRS304bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  src: local('Pompiere '), local('Pompiere-Regular'), url(http://themes.googleusercontent.com/static/fonts/pompiere/v3/REn9C5nNcBLtk0UzcbjDQPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

/* @font-face {
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya SC'), local('AlegreyaSC-Regular'), url('../font/Alegreya_SC/AlegreyaSC-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  src: local('Pompiere '), local('Pompiere-Regular'), url('../font/Pompiere/Pompiere-Regular.ttf') format('woff');
} */

/* INICIO dos estilos para fixar o rodape */
html, body, #wrap {
	height: 100%;
	margin: 0 auto 0 auto;
}
 
body > #wrap {
	height: auto;
	min-height: 100%;	
}
 
#main {
	overflow:auto;
	padding-bottom: 74px;}  /* deve ter a mesma altura do rodapé */
 
#footer {
	position: relative;
	margin-top: -74px; /* valor negativo da altura do rodapé */
	height: 74px;
	clear:both;}
 
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/* FIM dos estilos para fixar o rodape */

body {
	font-family: Arial;
}

/* INICIO estilos para o efeito de rolagem para o topo */
#back-top {
position: fixed;
bottom: 100px;
}

#back-top label {
	font-weight: bold;
}

#back-top a {
width: 108px;
display: block;
text-align: center;
font: 11px/100% Arial, Helvetica, sans-serif;
text-transform: uppercase;
text-decoration: none;
color: #777;
border: none;

/* transition */
-webkit-transition: 1s;
-moz-transition: 1s;
transition: 1s;
}

#back-top a:hover {color: #eb610e;}

/* arrow icon (span tag) */
#back-top span {
width: 108px;
height: 108px;
display: block;
margin-bottom: 7px;
background: #777 url("../image/up-arrow.png") no-repeat center center;

/* rounded corners */
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;

/* transition */
-webkit-transition: 1s;
-moz-transition: 1s;
transition: 1s;}

#back-top a:hover span {   background-color: #eb610e;}

/* FIM dos estilos de rolagem */

/* body {
	background: url("../image/texturaCinza.jpg");
} */

.fundoIndex {
	background: url("../image/texturaLaranja.jpg");
	/* background-color: #ff6e03; */
}

a {
	text-decoration: none;	
}

a:visited {
	text-decoration: none;
}

img {
	border: none;
}

.ponteiro {
	cursor: pointer;
}

.texturaHeader {
	background: url("../image/texturaCinzaCabecalho.jpg");
}

.fontIndexTitulo {
	font-family: 'Alegreya SC';
	font-size: large;
	font-weight: bold;
}

.fontIndexDesc {
	font-family: 'Pompiere';
	font-size: x-large;
}

.textoIntroducao {
	font-family: 'Alegreya SC';
	text-align: justify;	
}

.corDefault {
	color: #ff6e03;
}

.corLaranja {
	color: #CD950C;
}

.corPreta {
	color: #000000;
}

.tabNegrito tr td {
	font-weight: bold;
}

#linkein {
	color: #000000;
}

#linkein:hover{
	text-decoration: none;
	color: blue;
}

.introFotoTopo {
	background: url("../image/imagemIntro_topo.png");
	background-repeat: no-repeat;
}

.introFotoBase {
	background: url("../image/imagemIntro_base.png");
	background-repeat: no-repeat;
}

.linkDefault {
	color: #4682B4;
}
.linkDefault:hover {
	color: blue;
}

.labelFonteImagem{
	font-size: small;
	padding: 5px;
	color: #4682B4;
}

.siteFonte{
	font-size: small;	
}

.btLinkVoltar {
	width: 200px;
	height: 50px;
	border: 1px solid #000000;
	background: gray;
	color: white;
	font-weight: bold;
	font-size: small;
	text-align: center;
	vertical-align: middle;	
	display: table-cell;
	cursor: pointer;
		
}

#rodape {
	width: 100%;
	height: 90px; 
	background-color: #696969; 
	vertical-align: middle;"
}

.bordaDash {
	border: 1px dashed #CCCCCC; 
}

#boxCentral {
	 height:300px; 
	 left:50%; 
	 margin:-150px 0 0 -320px; 
	 position:absolute; 
	 top:50%; 
	 width:640px
}

#styleHeaderFooter {
	width: 100%;
	background-color: #4682B4;
	font-family: Arial;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.tabPrettyPhoto{
	width: 100%;
	padding: 10px;
	text-align: center;
	/* border: 1px solid #c8c8c8; */
	border: none;	
}

.tabPrettyPhoto tr td {
	padding: 5px;
}

#tableMenuPrincipal {
	width: 800px;
}

#tableMenuPrincipal tr td {
	padding: 5px;
	border: 1px solid transparent;  
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* width="800" style="padding-bottom: 5px; padding-top: 5px;" */

#tableDownloadRoteiro {
	border: 2px solid #FF9900;  
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#subMenu {
	width: 100%;
	text-align: center;
	font-size: small;
}

#subMenu li {
	list-style: none;
	display: inline;
	width: 50%;
	text-align: center;
	padding: 10px;
}

#subMenu a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}
#subMenu a:hover {
	text-decoration: none;
	color: #000000;
}

#downloadRoteiroExame{
	color: #FF8C00;
	font-size: large;
	font-weight: bold;	
}

.cardFlag {
	width: 700px; 
	text-align: left; 
	padding: 30px;
	border: 1px solid #CCCCCC;  
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #000000;
	background-color: #FFFFFF;	
}

.cardFlagPgs {
	width: 800px; 
	text-align: left; 
	padding: 20px;
	border: 1px solid #CCCCCC;  
	border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #CCCCCC;
	background-color: #FFFFFF;	
}

.imgSombra {
	box-shadow: 2px 2px 2px #8B8484;
}

.fotoTitulo {
	font-family: arial;
	font-size: large;
	font-weight: bold;
	color: #4682B4;
	text-align: left;
}

.fotoDescricao {
	font-family: arial;
	font-size: medium;
	font-weight: normal;
	color: black;
	text-align: left;	
}

.iconeLogo{
	width: 80px;
	height: 105px;
}

.txtSombra {
	text-shadow: black 0.1em 0.1em 0.2em;
}

table#tabFlags p {
	font-weight: normal;
	color: #363636;	
}

.zebrado:hover {
	background-color: #dddddd;
}

table#tabFlags tr td {
	padding: 10px;
	/* padding-left: 5px;
	padding-right: 5px; */
	cursor: pointer;
}

.colapsed {
	border-collapse: collapse;
}

.textoRodape {
	color: #4f4f4f; 
	font-family: arial;
	font-weight: bold;
	font-size: medium; 
	text-shadow: white 0.1em 0.1em 0.2em;
}

.textoCabecalho {
	color: #4682B4; 
	font-weight: bold; 
	padding-top: 20px; 
	font-size: 40px;
	text-shadow: #000000 0.1em 0.1em 0.1em;
}

#divCabecalho {
	width: 100%;
	height: 100px;
	background-color: #cccccc;
	padding: 0;
}

.flagIndex {
	width: 80px;
	height:50px;
}

.tabQuadroMenu {
	width: 100%;
	padding: 5px;
	border: 0;
	font-weight: bold;
}

.imgFundoTab {
	width: 200px;
	height: 300px;
}

.tdFlagLocale{
	align: right;
	vertical-align: middle;
	width: 220px;
	border-left: 1px solid #E8E8E8;	
}

.letraGrande {	 
	font-weight: bold;	
	/* color: #4F4F4F; */
	color: #CD950C; 
	/* text-shadow: #1C1C1C 0.1em 0.1em 0.2em; */
}

.negrito {	 
	font-weight: bold;	
	/* color: #4F4F4F; */
	color: black; 
	/* text-shadow: #1C1C1C 0.1em 0.1em 0.2em; */
}

.tabBtLink{
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	vertical-align: middle;
}

.letraMedia{
	font-weight: bold; 
	/* text-shadow: #1C1C1C 0.1em 0.1em 0.2em; */
}

.letraNormal {	 
	font-weight: normal; 
}

.menuTabela {
	height: 30px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	font-size: smaller;
}

.menuTabela:hover{
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;		
}

/* .linkDownloadAutoExame {	
	border: 2px solid #CD950C;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
} */

.linkDownloadAutoExame {	
	color: #CD950C;
	text-align: center;
	font-weight: bold;
	font-size: large;
}

.destaqueSombra {
	border: none;
}

.destaqueSombra:hover {
	box-shadow: #CCCCCC 0.2em 0.2em 0.2em;
}

/* .degradeFooter {
	background: #B5B5B5; Old browsers
	IE9 SVG, needs conditional override of 'filter' to 'none'
	background: -moz-linear-gradient(top, #E8E8E8 0%, #B5B5B5 50%, #B5B5B5 51%, #E8E8E8 100%); FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E8E8E8), color-stop(50%,#B5B5B5), color-stop(51%,#B5B5B5), color-stop(100%,#E8E8E8)); Chrome,Safari4+
	background: -webkit-linear-gradient(top, #E8E8E8 0%,#B5B5B5 50%,#B5B5B5 51%,#E8E8E8 100%); Chrome10+,Safari5.1+
	background: -o-linear-gradient(top, #E8E8E8 0%,#B5B5B5 50%,#B5B5B5 51%,#E8E8E8 100%); Opera 11.10+
	background: -ms-linear-gradient(top, #E8E8E8 0%,#B5B5B5 50%,#B5B5B5 51%,#E8E8E8 100%); IE10+
	background: linear-gradient(to bottom, #E8E8E8 0%,#B5B5B5 50%,#B5B5B5 51%,#E8E8E8 100%); W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E8', endColorstr='#E8E8E8',GradientType=0 ); IE6-8
} */

.degradeHeader {	
	background: #B0C4DE; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #B0C4DE 0%,  #E8E8E8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B0C4DE), color-stop(100%,#E8E8E8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #B0C4DE 0%, #E8E8E8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #B0C4DE 0%, #E8E8E8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #B0C4DE 0%, #E8E8E8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #B0C4DE 0%, #E8E8E8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B0C4DE', endColorstr='#E8E8E8',GradientType=0 ); /* IE6-8 */
}

.degradeFooter {	
	background: #B0C4DE; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #E8E8E8 0%,  #B0C4DE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E8E8E8), color-stop(100%,#B0C4DE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #E8E8E8 0%, #B0C4DE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #E8E8E8 0%, #B0C4DE 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #E8E8E8 0%, #B0C4DE 100%); /* IE10+ */
	background: linear-gradient(to bottom, #E8E8E8 0%, #B0C4DE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E8', endColorstr='#B0C4DE',GradientType=0 ); /* IE6-8 */
}

.degradeBodyVerde {	
	background: #FFFFFF; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFFFFF 0%,  #5D980D 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#5D980D)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #5D980D 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 0%, #5D980D 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%, #5D980D 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFFFF 0%, #5D980D 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#5D980D',GradientType=0 ); /* IE6-8 */
}

.degradeBodyAmarelo {	
	background: #FFFFFF; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFFFFF 0%,  #CDCD00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CDCD00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #CDCD00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 0%, #CDCD00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%, #CDCD00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFFFF 0%, #CDCD00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CDCD00',GradientType=0 ); /* IE6-8 */
}

.degradeBodyLaranja {	
	background: #FFFFFF; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFFFFF 0%,  #CD950C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CD950C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #CD950C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 0%, #CD950C 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%, #CD950C 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFFFF 0%, #CD950C 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CD950C',GradientType=0 ); /* IE6-8 */
}

.degradeBodyVermelha {	
	background: #FFFFFF; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFFFFF 0%,  #FF0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FF0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #FF0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 0%, #FF0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%, #FF0000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFFFF 0%, #FF0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FF0000',GradientType=0 ); /* IE6-8 */
}

.degradeBodyRoxo {	
	background: #FFFFFF; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFFFFF 0%,  #5D478B 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#5D478B)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #5D478B 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFFFF 0%, #5D478B 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFFFF 0%, #5D478B 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFFFF 0%, #5D478B 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#5D478B',GradientType=0 ); /* IE6-8 */
}

.degradeVerde {	
	background: #00FF00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #00FF00 0%,  #008B00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00FF00), color-stop(100%,#008B00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00FF00 0%, #008B00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00FF00 0%, #008B00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00FF00 0%, #008B00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #00FF00 0%, #008B00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FF00', endColorstr='#008B00',GradientType=0 ); /* IE6-8 */
}
	
.degradeAmarelo {	
	background: #FFFF00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFFF00 0%,  #CDCD00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CDCD00), color-stop(100%,#FFD700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFF00 0%, #FFD700 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFF00 0%, #FFD700 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFF00 0%, #FFD700 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFFF00 0%, #FFD700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFF00', endColorstr='#FFD700',GradientType=0 ); /* IE6-8 */
}	
	
.degradeLaranja {	
	background: #FFC125; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FFC125 0%,  #CD950C 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFC125), color-stop(100%,#CD950C)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFC125 0%, #CD950C 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFC125 0%, #CD950C 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFC125 0%, #CD950C 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FFC125 0%, #CD950C 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC125', endColorstr='#CD950C',GradientType=0 ); /* IE6-8 */
}	
	 
.degradeRoxo {	
	background: #8968CD; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #8968CD 0%,  #5D478B 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8968CD), color-stop(100%,#5D478B)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8968CD 0%, #5D478B 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8968CD 0%, #EE7621 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8968CD 0%, #5D478B 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8968CD 0%, #5D478B 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8968CD', endColorstr='#5D478B',GradientType=0 ); /* IE6-8 */
}

.degradeAzul {	
	background: #7db9e8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #7db9e8 0%,  #1E5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(100%,#1E5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7db9e8 0%, #1E5799 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7db9e8 0%, #1E5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1E5799',GradientType=0 ); /* IE6-8 */
}

.degradeVermelha {	
	background: #FF0000; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #FF0000 0%,  #A52A2A 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF0000), color-stop(100%,#A52A2A)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FF0000 0%, #A52A2A 100%); /* IE10+ */
	background: linear-gradient(to bottom, #FF0000 0%, #A52A2A 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#A52A2A',GradientType=0 ); /* IE6-8 */
}	

.setDefault {
	width: 90%;
	color: #FFFFFF;
	text-shadow: #DDDDDD 0.1em 0.1em 0.2em;
	text-align: center;
	cursor: pointer;
	padding: 20px;
	border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.destacar:hover {
	box-shadow: 2px 2px 2px #8B8484;
}

.iconeMenu {
	cursor: pointer;
	width: 70px;
	height: 70px;	
}

.iconeLocale {
	width: 30px;
	height: 20px;	
}

.reciboMedico {
	padding: 25px 10px 25px 10px; 
	width: 100%;
	border: 2px solid #CCCCCC;
	font-size: small;	
}

.pad10 {
	padding-bottom: 10px;
}
	

.iconeLocale:hover {
	width: 40px;
	height: 30px;
}

.iconeMenu:hover{	
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;	
}

.opacidade {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.quadroMenu{
	width: 100%;
	font-family: Arial;	
	/* background-color: #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #8B8484; */
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;		
}

.msgBorder {
	border-style: solid;
	border-width: 2px;
	display: block;
	font-family: Arial, helvetica, sans-serif;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 2px 2px 0;
	padding: 15px;
	vertical-align: middle;
	width: 100%;	
}



.msgVariacaoAnatomica {
	background-color: #FFFFFF;
	border: 4px solid #5D980D;
	text-align: justify;
	color: #4682B4;
	font-size: large;
}

.msgLesaoComum {
	background-color: #FFFFFF;
	border: 4px solid #CDCD00;
	text-align: justify;
	color: #4682B4;
	font-size: large;
}

.msgLesaoBenigna {
	background-color: #FFFFFF;
	border: 4px solid #CD950C;
	text-align: justify;
	color: #4682B4;
	font-size: large;
}

.msgLesaoPremaligna {
	background-color: #FFFFFF;
	border: 4px solid #FF0000;
	text-align: justify;
	color: #4682B4;
	font-size: large;
}

.msgLesaoMaligna {
	background-color: #FFFFFF;
	border: 4px solid #5D478B;
	text-align: justify;
	color: #4682B4;
	font-size: large;
}

/* #tabExame tr td:hover{
	background-color: #87CEEB;	
} */

.negrito {
	font-weight: bold;
}

.destaquetabExame{
	border: 2px solid #FFFFFF;
}
.destaquetabExame:hover{
	border: 2px solid #87CEEB;
	width: 300px;
	height: 300px;
}

/* #tabVariacaoAnatomica tr td:hover{
	background-color: #5D980D;
} */

.destaquetabVariacaoAnatomica{
	border: 2px solid #FFFFFF;
}
.destaquetabVariacaoAnatomica:hover{
	border: 2px solid #5D980D;
	width: 300px;
	height: 300px;
}

/* #tabLesaoComum tr td:hover{
	background-color: #CDCD00;
} */

.destaquetabLesaoComum{
	border: 2px solid #FFFFFF;
}
.destaquetabLesaoComum:hover{
	border: 2px solid #CDCD00;
	width: 300px;
	height: 300px;
}

/* #tabLesaoBenigna tr td:hover{
	background-color: #CD950C;
} */

.destaquetabLesaoBenigna{
	border: 2px solid #FFFFFF;
}
.destaquetabLesaoBenigna:hover{
	border: 2px solid #CD950C;
	width: 300px;
	height: 300px;
}

/* #tabLesaoPremaligna tr td:hover{
	background-color: #FF0000;
} */

.destaquetabLesaoPremaligna{
	border: 2px solid #FFFFFF;
}
.destaquetabLesaoPremaligna:hover{
	border: 2px solid #FF0000;
	width: 300px;
	height: 300px;
}

/* #tabLesaoMaligna tr td:hover{
	background-color: #5D478B;	
} */

.destaquetabLesaoMaligna{
	border: 2px solid #FFFFFF;
}
.destaquetabLesaoMaligna:hover{
	border: 2px solid #5D478B;
	width: 300px;
	height: 300px;
}
